@media (min-width: 1400px) {
    header img{
        width: 70px;
    }

    .video{
        height: 70vh;
    }

    .video-div-top{
        height: 100px;
        top: 105px;
    }
    
    .video-div-bottom{
        height: 72px;
        top: 625px;
    }
 }