/**************** ***************/
 /* MEDIA QUERYS PANTALLA ALTA*/
/**************** ***************/


@media (min-width: 1400px) {
    video{
        width: 100%;
    }

    header{
        height: 93px
    }

    header img{
        width: 70px;
    }

    .video{
        height: 70vh;
    }

    .video-div-top{
        height: 120px;
        top: 95px;
    }
    
    .video-div-bottom{
        height: 120px;
        top: 655px;
    }

    .cards-noticias{
        display: flex;
        justify-content: flex-end;
        width: var(--max-width);
    }
 }


/**************** ***************/
    /* MEDIA QUERYS CELULAR*/
/**************** ***************/


 @media (max-width: 768px) {

    /**************** ***************/
            /* HEADER & NAV*/
    /**************** ***************/

    header label{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-left: 50%;
    }

    .menu{
        position: absolute;
        background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
        width: 100%;
        height: auto;
        margin-left: -200%;
        transition: all 0.5s;
        top: 70px;
        display: flex;
        justify-content: center;
    }

    .menu ul{
        flex-direction: column;
    }

    .menu li{
        text-align: center;
        width: 100%;
    }

    .menu li .menu-responsive{
        display: block;
    }
    
    .menu li .menu-desktop{
        display: none;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }

    /**************** ***************/
                 /*VIDEO*/
    /**************** ***************/

    .video{
        height: 70vh;
    }

    .video-div-top{
        display: none;
    }
    
    .video-div-bottom{
        display: none;
    }

    video{
        height: 100%;
        width: 100%;
    }

    /**************** ***************/
               /*NOTICIAS*/
    /**************** ***************/

    .cards-noticias{
        flex-direction: column;
    }

    .cards-noticias .cuadro-noticias{
        margin-bottom: 60px;
        text-align: center;
    }

    .cards-noticias .cuadro-noticias img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .cards-noticias .cuadro-noticias button{
        background-color: #fd4800;
        border: none;
        padding: 10px 15px;
        margin: 10px 0;
        color: #fd4800;
        border-radius: 5px;
    }
    
    .cards-noticias .cuadro-noticias a{
        color: #fff;
        font-weight: bold;
    }
    
    .cards-noticias .cuadro-noticias a:hover{
        color: #000;
        font-weight: 500;
    }

    
/**************** ***************/
       /* SECTION UP*/
/**************** ***************/

.up{
    width: 30px;
    height: 30px;
    background-color: var(--text-color-orange);
    position: fixed;
    top: 90%;
    left: 85%;
    z-index: 160;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.up a{
    color: inherit;
}

.up i{
    font-size: 1.8rem;
    text-align: center;
    padding-top: 10px;
    color: var(--text-color-white);
}

    /**************** ***************/
                 /*TOUR*/
    /**************** ***************/

    .tour .tour-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .tour .titulo-tour{
        width: 100%;
        padding-right: 0px;
        text-align: center;
    }

    .tour .titulo-tour h2{
        font-family: 'Tourney', cursive;
        font-size: 4rem;
        color: #fff;
        margin-bottom: 50px;
    }

    .tour .tours-cronograma{
        width: 100%;
        text-align: center;
    }

    .tour .tours-cronograma .dias-tour{
        flex-direction: column;
        margin-bottom: 40px;
    }

    .tour .tours-cronograma .fecha-lugar{
        flex-direction: column;
        width: 100%;
    }

    .tour .tours-cronograma .dias-tour .lugar-tour{
        padding: 20px 0;
    }

    /**************** ***************/
           /*GALERIA DE IMAGENES*/
    /**************** ***************/

    .primera-seccion-imagenes,
    .segunda-seccion-imagenes,
    .tercera-seccion-imagenes{ 
        flex-direction: column;
    }

    .primera-seccion-imagenes img,
    .segunda-seccion-imagenes img,
    .tercera-seccion-imagenes img{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        padding: 5px 0px;
    }

    /**************** ***************/
              /*PRE FOOTER*/
    /**************** ***************/

    .contenido-pre-footer h2{
        font-size: 1.4rem;
        padding: 0 10px;
    }

    /**************** ***************/
                /*FOOTER*/
    /**************** ***************/

    footer .redes-sociales i{
        padding: 15px 10px;
        font-size: 1rem;
    }
    
    footer p{
        padding: 0px 15px 15px 15px;
        font-size: 0.7rem;
    }

    /**************** ***************/
             /* PAGINA LOGIN*/
    /**************** ***************/

    .header-login{
        height: auto;
    }
    
    .footer-login{
        height: auto;
        padding: 10px;
    }

    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-login{
        flex-direction: column;
        height: auto;
    }

    .main-login h1{
        margin-left: 0;
        text-align: center;
    }

    .main-login input{
        margin-left: 0;
    }

    .main-login button{
        margin-left: 0;
    }

    .check-pass{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .password{
        margin-bottom: 2px;
    }

    .member{
        margin-left: 0;
        align-items: center;
    }

    .member h4{
        text-align: center;
        font-size: 1rem;
        margin-bottom: 55px;
        width: 80%;
    }

    button.btn-registrarse{
        margin-left: 0;
        margin-bottom: 45px;
    }

    /**************** ***************/
            /* PAGINA SIGN UP*/
    /**************** ***************/

    form{
        margin: 20px auto;
    }

    .nombres,
    .username-sign-up,
    .emails-sign-up,
    .password-sign-up,
    .direccion-sign-up,
    .lugar-sign-up,
    .region-sign-up{
        flex-direction: column;
    }

    .main-sign-up input{
        padding: 10px 30px;
        width: 80%;
    }

    .lugar-sign-up select{
        text-align: left;
        padding: 10px 30px;
    }

    .btn-crear-cuenta{
        width: 80%;
    }
    
    .main-sign-up button{
        width: 100%;
        margin-left: 0;
    }
    
    
    .main-sign-up button a{
        letter-spacing: 1px;
        padding: 0px 0px;
        font-size: 1rem;
        text-align: center;
    }

    /**************** ***************/
     /* PAGINA POLITICAS PRIVACIDAD*/
    /**************** ***************/

    .politicas h1,
    .terminos h2,
    .cookies h2,
    .configuracion-cookies h2{
        margin: 0;
        font-size: 1.4rem;
        margin-bottom: 50px;
        margin-top: 100px;
        padding: 0 15px;
    }

    .politicas p,
    .terminos p,
    .cookies p,
    .configuracion-cookies p{
        margin: 0px;
        padding: 0 15px;
    }
 }